*{
  box-sizing: border-box;
}
body {
  max-width: 100%;
  margin: 0;
  height: 100%;
  background-color: #06283D;
  color: antiquewhite;
  overflow-x: hidden;
  animation: load 3s ease-in-out;
}
@keyframes load{
0%{opacity: 0;}
50%{opacity: 0.5;}
100%{opacity: 1;}
}
